# emacs and vim temporary files
*.*~
\#*.*\#
**/*\#*

# racket byte code
*.dep
*.zo
compiled/
**/compiled/

# object files, archives, assembly, and out
*.[oas]
*.out

# any hidden files
**/.*
**/tmp/*
**/data/*
**/output/*


# ignore model folder for now
models

