sudo: false
language: c
services:
- xvfb
env:
- PATH=~/racket/bin:$PATH

before_install:
- "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
- curl -L -o installer.sh http://www.cs.utah.edu/plt/snapshots/current/installers/racket-current-x86_64-linux-precise.sh
- sh installer.sh --in-place --dest ~/racket/
- export PATH=~/racket/bin:$PATH

install:
- # cat /proc/meminfo
- raco pkg install

script:
- make test

after_script:

notifications:
    slack: grift-compiler:k9oxE7yBAUYy2D51Yywu6CjU